*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.descuento{
height: 38px;
line-height: 38px;
padding-left: 20px;
font-weight: bold;
background: #1CD1B0;
}

section{
    display: flex;
}

.folleto{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 50px;
}

.fondo{
    display: flex;
    margin-top: 60px;
    position: absolute;
}

.perfil{
    display: flex;
    position: relative;
    margin-left: 80px;
    margin-top: 200px;
}

.batman{
    display: flex;
    margin-left: 95px;
    margin-top: 15px;
}


.heroes{
box-sizing: border-box;
height: 101px;
line-height: 101px;
padding-left: 20px;
background: #00669F;
box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.corazon{
display: flex;
color: #CC2424;
position: absolute;
margin-top: 80px;
margin-left: 20px;
font-size: 25px;
z-index: 1;
}

.tamaño{
    width: 300px;
    height: 193px;
}

.forma{
    width: 128px;
    height: 128px;
    border-radius: 70%;
}

.parrafo{
display: flex;
align-items: center;
justify-content: center;
margin-top: 8px;
margin-left: 30px;
}

.boton{
display: flex;
background-color: #00669F;
color: white;
border: none;
align-items: center;
justify-content: center;
padding: 5px;
margin-left: 85px;
font-size: 16px;
flex-grow: 1;
width: 120px;
height: 50px;
}

.footer{
display: flex;
margin-top: 60px;
position: absolute;
background-color: #00669F;
color: white;
width: 1290px;
height: 50px;
}

.textofinal{
display: flex;
align-items: center;
margin-left: 15px;
}
